/* FONT FAMILY */
/* COLORS */
.wrap {
  overflow: hidden;
  margin: 10px;
}
.wrap .carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}
.wrap .carousel.is-reversing {
  transform: translateX(-100%);
}
.wrap .carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.wrap .carousel .carousel-seat {
  flex: 1 0 100%;
  order: 2;
  position: relative;
  display: block;
}
.wrap .carousel .carousel-seat.is-ref {
  order: 1;
}
.wrap .carousel .carousel-seat .details {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrap .carousel .carousel-seat .details img {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .carousel .carousel-seat .details p {
  color: #069;
}

/* CAROUSEL CONTROLS */
.controls {
  padding: 2em;
  text-align: center;
}
.controls button {
  background: #2c73a1;
  border: 0;
  color: #eee;
  padding: 0.5em 1em;
  margin: 0 2px;
  font-weight: bold;
}
.controls button.prev {
  border-radius: 5px 0 0 5px;
}
.controls button.next {
  border-radius: 0 5px 5px 0;
}
.controls button:hover, .controls button:focus {
  background: #0051ff;
}

/* MEDIA QUERIES */
@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}
@media (min-width: 40em) {
  .carousel {
    left: -20.7777%;
    transform: translateX(-20.7777%);
  }
}
@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}
@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}
@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 48.3333%;
    padding: 5px;
  }
}
@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 19%;
    padding: 5px;
  }
}
@media (min-width: 50em) {
  .carousel-seat {
    flex-basis: 32.3333%;
    padding: 5px;
  }
}
@media (min-width: 60em) {
  .carousel-seat {
    flex-basis: 32.5555%;
    padding: 5px;
  }
}
@media (max-width: 320px) {
  /* EXTENDS */
  .controls button.next, .controls button.prev {
    border-radius: 100px;
  }

  button.next, button.prev {
    height: 135px;
    width: 135px;
    background-repeat: no-repeat;
    position: absolute;
    top: 82px;
    background-image: url(../../images/arrow.svg);
    background-color: #ffffff;
    text-indent: -9999px;
    white-space: nowrap;
    background-position-x: 18px;
    background-position-y: 33px;
    opacity: 0.7;
  }

  button.prev {
    transform: rotate(180deg);
    left: -69px;
    background-position-x: 25px;
    background-position-y: 42px;
  }

  button.next {
    right: -76px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ropa Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 15px 10px;
  background-color: #e9eee6;
}

h2 {
  color: #069;
  margin: 0;
}

.loading {
  color: #069;
}

/*# sourceMappingURL=App.css.map */
